name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}]

  workflow_dispatch:
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: gorkah
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Europe/Madrid
          repositories_affiliations: owner, collaborator, organization_member
 
          plugin_languages: yes
          plugin_languages_indepth: yes  
          plugin_languages_details: lines, bytes-size, percentage
          plugin_languages_limit: 8

          plugin_lines: yes
          plugin_lines_history_limit: 1
