name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}] # Se actualiza cada noche
  workflow_dispatch:
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          base: "" # Esto limpia la base para solo mostrar lo que queremos
          plugin_languages: yes
          plugin_languages_details: bytes-size, percentage
          plugin_lines: yes
          config_timezone: Europe/Madrid